.bar-black {
    display: block;
    width: 70%;
    height: 15px;
    line-height: 28px;
    text-align: center;
    color: #F6B94A;
    border: 1px solid #F6B94A;
    position: relative;
    margin-left: 1rem;
}

.progress-black {
    display: block;
    height: 100%;
    background: #F6B94A;
    position: absolute;
    top: 0;
    left: 0;
}

.bar-orange {
    display: block;
    width: 70%;
    height: 15px;
    line-height: 28px;
    text-align: center;
    color: #3B3E4E;
    border: 1px solid #3B3E4E;
    position: relative;
    margin-left: 1rem;
}

.progress-orange {
    display: block;
    height: 100%;
    background: #3B3E4E;
    position: absolute;
    top: 0;
    left: 0;
}